html,body{
  height: 100%;
  width: 100%;
  position: relative;
  background: #ececec;
}


.page-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}
.page-enter.page-enter-active {
  opacity: 1;
}
.page-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.page-leave.page-leave-active {
  opacity: 0;
}


.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.loader-wrapper .loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}
.loader-wrapper .loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
.loader-wrapper .loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader-wrapper .loader-left-wrapper,
.loader-wrapper .loader-right-wrapper{
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #222222;
}
.loader-wrapper .loader-left-wrapper{
  left: 0;
}
.loader-wrapper .loader-right-wrapper{
  right: 0;
}

#app.loaded .loader-wrapper{
  transform: translateY(-100%);
  transition: transform 0s ease-in .5s;
}
#app.loaded .loader{
  display: none;
  transition: display 0s ease-in .25s;
}
#app.loaded .loader-left-wrapper{
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: transform .5s ease-in;
}
#app.loaded .loader-right-wrapper{
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  transition: transform .5s ease-in;
}