*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
p {
  margin: 0 0 2em 0;
}
h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: bold;
  line-height: 1.6;
  margin: 0 0 1em 0;
}
h1 {
  font-size: 1.75em;
}
@media screen and (max-width: 736px){
  h1 {
    font-size: 1.25em;
  }
}
ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}
ol, ul {
  list-style: none;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out,box-shadow 0.2s ease-in-out,opacity 0.2s ease-in-out,color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out,box-shadow 0.2s ease-in-out,opacity 0.2s ease-in-out,color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out,box-shadow 0.2s ease-in-out,opacity 0.2s ease-in-out,color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out,box-shadow 0.2s ease-in-out,opacity 0.2s ease-in-out,color 0.2s ease-in-out;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 3.3em;
  line-height: 3.3em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(250,247,255,0.1);
  color: #fff !important;
}
a {
  -moz-transition: color 0.2s ease-in-out,border-bottom-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out,border-bottom-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out,border-bottom-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out,border-bottom-color 0.2s ease-in-out;
  color: #b9babd;
  text-decoration: none;
}
input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit, .button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}
input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special, .button.special {
    background-color: #33ada9;
    color: !important;
    box-shadow: none;
}

html,body,#app{
  height: 100%;
  width: 100%;
  font-family: 'Lato', serif;
}
.app{
  position: relative;
  background: #ececec;
  background-image: url("../images/bg.svg"),linear-gradient(135deg, #774975 25%, #2A4584 75%);
  background-size: cover, cover;
  background-position: top, center;
  background-repeat: no-repeat, no-repeat;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  min-height: 100vh;
  text-align: center;
  cursor: default;
}
.app:before {
    content: '';
    display: block;
}


.logo {
  display: block;
  width: 6.25em;
  height: 6.25em;
  margin: 0 auto 1em auto;
}

.about h1{
  font-size: 2.75em;
  margin-bottom: 0.25em;
}
.about p{
  color: #b9babd;
}
.note {
  font-size: 0.8em;
  color: rgba(255,255,255,0.3);
}
ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.actions {
  width: 18.5em;
  margin-left: auto;
  margin-right: auto;
}
ul.actions.vertical li:first-child {
  padding-top: 0;
}
ul.actions.vertical li {
  display: block;
  padding: 1.3em 0 0 0;
}
ul.actions.vertical li>* {
  margin-bottom: 0;
}
ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}
ul.actions.vertical li {
  display: block;
  padding: 1.3em 0 0 0;
}
ul.actions li:last-child {
  padding-right: 0 !important;
}

.home{
  border-top: 1px solid #fff;
  padding: 1em 0 0;
}
.poetry-container{
  margin: 0 0 2rem 0;
  border-radius: 4px;
  -webkit-animation: fadeUp 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation: fadeUp 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
@-webkit-keyframes fadeUp{
  0%{
    opacity: 0;
    -webkit-transform: rotate(30px);
    -ms-transform: rotate(30px);
    transform: translateY(30px);
  }
  100%{
    opacity: 1;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: translateY(0);
  }
}
@keyframes fadeUp{
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
.poetry-title{
  font-size: 1.2rem;
  line-height: 2em;
  color: #fff;
}
.poetry-author{
  font-size: 12px;
  color: #fff;
}
.poetry-content{
  margin-top: .5em;
}
.poetry-line{
  line-height: 1.5em;
  color: #ececec;
}

.poetry-loader-wrapper{
  position: relative;
  width: 100%;
  height: 100px;
}
.poetry-loader{
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
  border-radius: 50%;
  border: 1px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  z-index: 11;
}


.footer{
  width: 100%;
  font-size: 14px;
}
.footer .nav-bar{
  padding: 2em 2em 1em 0;
  margin: 0;
  display: inline-block;
}
.footer .nav-bar li{
  list-style: none;
  float: left;
  padding: 0 .5em;
}
.footer .nav-bar li a{
  color: #fff;
  text-decoration: none;
}
.footer .nav-bar li a.active{
  color: #eee;
}


.page-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}
.page-enter.page-enter-active {
  opacity: 1;
}
.page-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.page-leave.page-leave-active {
  opacity: 0;
}


.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.loader-wrapper .loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}
.loader-wrapper .loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
.loader-wrapper .loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader-wrapper .loader-left-wrapper,
.loader-wrapper .loader-right-wrapper{
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #222222;
}
.loader-wrapper .loader-left-wrapper{
  left: 0;
}
.loader-wrapper .loader-right-wrapper{
  right: 0;
}

#app.loaded .loader-wrapper{
  transform: translateY(-100%);
  transition: transform 0s ease-in .5s;
}
#app.loaded .loader{
  display: none;
  transition: display 0s ease-in .25s;
}
#app.loaded .loader-left-wrapper{
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: transform .5s ease-in;
}
#app.loaded .loader-right-wrapper{
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  transition: transform .5s ease-in;
}