/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(/src/fonts/latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(/src/fonts/latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html,body,#app{
  height: 100%;
  width: 100%;
  font-family: 'Lato', serif;
}
.app{
  position: relative;
  background: #ececec;
  background-image: url("../images/bg.svg"),linear-gradient(45deg, #774975 25%, #2A4584 75%);
  background-size: cover, cover;
  background-position: top, center;
  background-repeat: no-repeat, no-repeat;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  min-height: 100vh;
  text-align: center;
  cursor: default;
}
.app:before {
    content: '';
    display: block;
}


.logo {
  display: block;
  width: 6.25em;
  height: 6.25em;
  margin: 0 auto 1em auto;
}

.footer{
  width: 100%;
  font-size: 14px;
}
.footer .nav-bar{
  padding: 2em 2em 1em 0;
  margin: 0;
  display: inline-block;
}
.footer .nav-bar li{
  list-style: none;
  float: left;
  padding: 0 .5em;
}
.footer .nav-bar li a{
  color: #fff;
  text-decoration: none;
}
.footer .nav-bar li a.active{
  color: #eee;
}


.page-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}
.page-enter.page-enter-active {
  opacity: 1;
}
.page-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.page-leave.page-leave-active {
  opacity: 0;
}


.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.loader-wrapper .loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}
.loader-wrapper .loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
.loader-wrapper .loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader-wrapper .loader-left-wrapper,
.loader-wrapper .loader-right-wrapper{
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #222222;
}
.loader-wrapper .loader-left-wrapper{
  left: 0;
}
.loader-wrapper .loader-right-wrapper{
  right: 0;
}

#app.loaded .loader-wrapper{
  transform: translateY(-100%);
  transition: transform 0s ease-in .5s;
}
#app.loaded .loader{
  display: none;
  transition: display 0s ease-in .25s;
}
#app.loaded .loader-left-wrapper{
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: transform .5s ease-in;
}
#app.loaded .loader-right-wrapper{
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  transition: transform .5s ease-in;
}